<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Frank Ocean</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Crete+Round|Just+Another+Hand|Pacifico|Satisfy&display=swap" rel="stylesheet">
<style>
        @import url('https://fonts.googleapis.com/css?family=Crete+Round|Just+Another+Hand|Pacifico|Satisfy&display=swap');
        </style>
<link rel="stylesheet" type="text/css" href="frankocean_css.css">

</head>
<body>

<div class = "container">
    <h1 class = "ArtTitle">Frank Ocean</h1>    
<img class = "profPic" src ="https://pixel.nymag.com/imgs/daily/vulture/2019/04/16/16-frank-ocean-gay-letter-1.nocrop.w710.h2147483647.jpg"id="nttLogo" class="img-responsive img-thumbnail pull-left" alt="Responsive image"width="100%" height="">
<p class ="bio">Frank Ocean is an <b>American</b> singer, songwriter, rapper, record producer and photographer. He was born on October 28, 1987 (31 years old) in Long Beach, California. 
     He was once part of the Los Angeles hip hip collective Odd Future. Frank Ocean frequently collaborates with Odd Future co-founder Tyler, the Creator. </p>
<!-- <div id ="separators" class="currentStuff"> -->
    <div class= "mGenre">
           <div class ="ptitle"> Music Genre</div>
     <ul>
            <li>Alternative R&B</li>
            <li>Hip Hop</li>
          </ul>
        </div>
    <div class= "disc">
            <div class ="ptitle"> Discography </div>
          <ul>
                <li><a class ="thisLink" href="https://oddfuture.bandcamp.com/album/nostalgia-ultra">Nostalgia Ultra</a></li>
                <li><a class ="thisLink"href="https://open.spotify.com/album/392p3shh2jkxUxY2VHvlH8?si=PEcvnr3JR2KsJNY453ynBA">Channel Orange</a></li>
                <li><a class ="thisLink"href="https://open.spotify.com/album/3mH6qwIy9crq0I9YQbOuDf?si=LX_w6QkiRYuVT_25Y9g5Sg">Blonde</a></li>
              </ul>
        </div>
          
<div class = "proj">
        <div class ="ptitle">Current Projects</div>
   <ul>
        <li>Untitled third album</li>
    </ul>
</div>

<!--</div> -->
<!-- Ideas: Current projects, recent release, link to social media websites, concerts-->

<div class = "release">
        <div class ="ptitle">Recent Releases</div>
    <ul>
        <li><iframe src="https://open.spotify.com/embed/album/0iqqnLXoocsMeCYlTw3Q2q" width="300" height="75" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li>
        <li><iframe src="https://open.spotify.com/embed/album/7uSaHPXSYaRB3FxLOmatG9" width="300" height="75" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li>
        <li><iframe src="https://open.spotify.com/embed/album/46H4UzFHMLnGgpyrj9HpKr" width="300" height="75" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li>
        
    </ul>

</div>
<div id = "otherpics" class ="pic1">
        <img class = "profPic" src ="http://gayletter.com/wp-content/uploads/2019/04/FRANK_OCEAN_COLLIER_SCHORR_GAYLETTER_Shot_08_047_03.jpg"id="nttLogo" class="img-responsive img-thumbnail pull-left" alt="Responsive image"width="100%" height="">

</div>
<div class = "socLinks">
        <div class ="ptitle"> Social Media Links</div>
    <ul>
      <!--  <li>
                <img src="twitter.png" alt="twitter" style="width:5%;height:5%";> 
        </li> -->
        <li>
                <img src="insta.png" alt="instagram"style="width:5%;height:5%";> <a href="https://www.instagram.com/blonded/?hl=en" target="_blank">blonded</a>    
        </li>
        <li>
                <img src="tumblr.png" alt="tumblr"style="width:4%;height:4%";> <a href="https://frankocean.tumblr.com/" target="_blank">frankocean</a>   
        </li>
        <li>
                <a href="https://blonded.co/" target="_blank">Frank Ocean's website</a> 
        </li>
        <li>
                <img src="spotify.png" alt="tumblr"style="width:4%;height:4%";> <a href="https://open.spotify.com/artist/2h93pZq0e7k5yf4dywlkpM?si=4D_YkG9NQuaDD9ddF4marw" target="_blank">frank ocean</a>        
        </li>
    </ul>
</div>

<div class = "RecentNews">
        <div class ="ptitle"> Recent News</div>
<ul>
   <li>
        <a href="https://www.dazeddigital.com/music/article/44732/1/frank-ocean-john-waters-viviane-sassen-arca-adwoa-aboah-amandla-stenberg" target="_blank">Dazed Interview: The World According to Frank Ocean</a> 
   </li> 
   <li>
        <a href="https://pitchfork.com/news/frank-ocean-says-channel-orange-vinyl-coming-asap/" target="_blank">Pitchfork: Frank Ocean Says Channel Orange Vinyl Coming “ASAP”</a> 
   </li> 
   <li>
        <a href="https://www.dazeddigital.com/music/article/44795/1/new-issue-futuretopias-frank-ocean-kiki-layne-gwendoline-christie-jim-jarmusch" target="_blank">Dazed: Frank Ocean covers our summer 2019 Futuretopias issue</a> 
   </li>
</ul>
</div>
   
<div class = "quotes"> 
     <blockquote>
         <p class = "Onequote">Living so the last night feels like a past life </p>
         <footer>(Frank Ocean, Nights)</footer>
</blockquote>

</div>
<div class = "tours">
        <div class ="ptitle">Tours</div>
  <ul>
      <li>
          No upcoming shows
      </li>
  </ul>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>