body{
    background-image: linear-gradient(hsl(199,100%,96%) 1in, white 2in);
  background-repeat: no-repeat;
  font-family: 'Crete Round', serif;
}
h1{
   color: #7C7287;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Pacifico', cursive;
}

a.button1{
    color: #7C7287;
    font-size: 1.5em;
    
}
a.button2{
    color: #007991;
    font-size: 2em;
    position: absolute;
    left: 15%;
    top: 47%;
    font-family: 'lobster', serif;
}